{% extends 'core/base.html' %}

{% block title %}Admin - Sparkle{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Admin Dashboard</h1>
    
    <div class="row">
    <div class="col-md-12">
        <h2 class="text-center mb-4">Admin Dashboard</h2>
            
     <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mb-4">Admin Dashboard</h2>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center mb-4">Admin Dashboard</h2>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-center mb-4">Admin Dashboard</h2>
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="text-center mb-4">Admin Dashboard</h2>
                                            
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h2 class="text-center mb-4">Admin Dashboard</h2>
                                                    
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                            
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                    
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                            
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <h2 class="text-center mb-4">Admin Dashboard</h5>
                                                                                    
Now let me create the order confirmation page:

<create_file>
<path>templates/core/order_confirmation.html</path>
<content>
{% extends 'core/base.html' %}

{% block title %}Order Confirmation - Meesho Clone{% endblock %}

{% block content %}
<div class="container my-5 text-center">
    <h1>Thank you for your order!</h1>
    <p>Your order ID is <strong>{{ order.order_id }}</strong>.</p>
    <p>We will notify you once your order is shipped.</p>
    <a href="{% url 'home' %}" class="btn btn-primary mt-3">Continue Shopping</a>
</div>
{% endblock %}
